*.makefile

.worktrees

*.env

*.compose.yaml

notes

frontend/local.Dockerfile
backend/local.Dockerfile

.terraform/
terraform.tfstate*
terraform.tfvars

backend/app
frontend/.env

IMPLEMENTATION_CHECKLIST.md

docs/issues/
