<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Leviosa] Verification d'email</title>
</head>

<!-- link for the cloudflare email : https://outlook.live.com/mail/0/inbox/id/AQQkADAwATYwMAItMDc0My0wYzQ5LTAwAi0wMAoAEAACAVK3OolqS6eHP0bwt7JJ -->

<body style="padding:2rem; background-color:#F2F2F2; font-size:1.2rem;">
    <div align="center">
        <div style="width:600px; box-shadow: rgba(60, 60, 67, 0.78) 0px 1px 3px 0px, rgba(60, 60, 67, 0.78) 0px 0px 0px 1px; padding:1rem 3rem; border-radius:0.5rem; background-color:white;" align="center">
            <p>the new vote template</P>
        </div>
    </div>
</body>
